.main {
      /* just to simulate content length */
      min-height: 300vh;
}


/* Subnav */

.subnav-region {
      margin: 0;
      padding: 0;
}

#superfish-main-toggle {
      border: 0;
}

#superfish-main-toggle::after {
      border: 0;
      content: "";
      display: none !important;
}

.subnav-region .subnav-static {
      display: none;
      position: absolute
}

.subnav-region .subnav-superfish > .sf-menu {
      display: none;
}

.superfish-main-toggle {
      padding-left: 0;
      padding-right: 0;
}

.subnav-superfish .sf-accordion-toggle {
      position: absolute;
      right: 0.5rem;
      top: 0.25rem;
      width: 1.8rem;
      height: 1.8rem;
      background-color: #eee;
      border: 1px solid #dedede;
      border-radius: 0.12rem;
      color: #333;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
}

.subnav-superfish .sf-accordion-toggle > a {
      position: relative;
      width: 3rem;
      text-align: center;
      line-height: 1;
      padding: 0;
      width: 100%;
      height: 100%;
      display: block;
}

.subnav-superfish .sf-accordion-toggle > a::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23999'%3E%3Cpath d='M120-240v-80h520v80H120Zm664-40L584-480l200-200 56 56-144 144 144 144-56 56ZM120-440v-80h400v80H120Zm0-200v-80h520v80H120Z'/%3E%3C/svg%3E");
      font-size: 1.5rem;
      color: #333;
}

.subnav-superfish .sf-accordion-toggle > a:focus::before,
.subnav-superfish .sf-accordion-toggle > a:hover::before {
      background-color: #333;
      border-radius: 0.125rem;
      color: #fff;
}

.subnav-superfish .sf-accordion-toggle > a > span {
      visibility: hidden;
      position: fixed;
      left: 100vw;
      top: 100vh;
      overflow: hidden;
}
